body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica-Neue", Helvetica, sans-serif;
    font-size: 16px;
    min-width: 450px;
    overflow: auto;
    background-image: url('https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?cs=srgb&dl=background-beautiful-beauty-2033997.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
}

#page-wrapper > div:not(:first-child):not(:last-child) {
    margin: 100px 0;
    margin-left: auto;
    margin-right: auto;
}

#landing-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://images.pexels.com/photos/1054289/pexels-photo-1054289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

#landing-page-wrapper > div {
    margin: 50px;
    flex: 1;
}

#logo-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
}

#logo-text {
    font-size: 64px;
}

#logo-text, #logo-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo-info-container {
    width: 80%;
    font-size: 28px;
}

#section-btns-wrapper {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.whole-page {
    width: 100%;
}

#landing-page-wrapper.whole-page {
    width: 100%;
    height: 100vh;
}

.section-styles {
    background-color: #f0f0f098;
    border-radius:5px;
    width: 80%;
}

.padding-container {
    padding: 50px;
}

h1 {
    text-align: center;
}

hr {
    margin-bottom:40px;
}

p {
    font-size: 1.3em;
    font-weight: bold;
}

.link-buttons {
    font-size: 18px;
    text-decoration: none;
    background-color: #b3b3b379;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.section-styles .link-buttons {
    background-color: #b3b3b333;
    border: #b3b3b3 1px solid;
    color: #000;
}

.link-buttons:hover {
    color: rgb(88, 88, 88);
    border-color: #fff;
}

.section-styles .link-buttons:hover {
    color: white;
    border-color: #fff;
}

.back-button-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

#footer-wrapper {
    margin-left: auto;
    margin-right: auto;
}

#footer-container {
    display: flex;
    flex-direction: row;
}

#footer-container>div:nth-child(1) {
    flex: 2;
}

#footer-container>div:nth-child(2) {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-left: 3px rgb(90, 90, 90) solid;
}

#footer-container>div:nth-child(2) a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    #logo-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }

    
    #section-btns-wrapper {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}